# Compilation artifacts
target
bin/

.data*
.data.jams
**/.data.jams
.data.crown
**/.data.crown
assets/*
out.jam

# Dev config
.vscode/settings.json

# Junk
.unikraft
.DS_Store

*.swp
**/*.swp
.DS_Store
._.DS_Store
**/.DS_store
**/._.DS_store
